@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Giga:wght@100..900&family=Manrope:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Giga:wght@100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f9fd;
  padding: 20px 40px;
  font-family: "Roboto", sans-serif;
}

header h1.title {
  font-size: 40px;
  font-family: "Lexend Giga", sans-serif;
  color: rgb(47, 58, 178);
}

div.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  padding: 13px;
  margin-top: 30px;
  box-shadow: 0px 4px 18px 0px rgba(100, 100, 100, 0.81);
}

div.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.search-input input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: rgb(47, 58, 178);
}

div.search-input input::placeholder {
  color: rgb(47, 58, 178);
}

div.search-input .icon {
  font-size: 20px;
  color: rgb(47, 58, 178);
}

div.search-button button {
  padding: 10px 30px;
  border: none;
  outline: none;
  color: rgb(47, 58, 178);
  font-weight: 900;
  background-color: #fdd32f;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

div.search-button button:hover {
  background-color: rgb(47, 58, 178);
  color: white;
}

div.filter-bar {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 5px;
  font-weight: 900;
  width: 250px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

select option {
  padding-top: 100px;
  font-weight: 900;
  height: 500px;
  cursor: pointer;
}

div.filter2 button {
  outline: none;
  padding: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 900;
  border-radius: 25px;
  cursor: pointer;
  background-color: white;
  border: none;
  border: 1px solid #c1b6b6;
  transition: 0.2s ease-in-out;
}

div.filter2 button:hover {
  background-color: #ecebeb;
}

div.characters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 0px;
}

div.character {
  padding: 10px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  margin-top: 120px;
}

.character img.pokemon-img {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 150px;
  transform: translate(-50%, -50%);
}

div.limit-input label {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

div.limit-input input {
  margin-bottom: 10px;

  outline: none;

  padding: 10px;
  font-size: 17px;
  color: rgb(47, 58, 178);
}

div.limit-input button {
  padding: 10px 30px;
  border: none;
  outline: none;
  color: rgb(47, 58, 178);
  font-weight: 900;
  background-color: #fdd32f;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

div.limit-input button:hover {
  background-color: rgb(47, 58, 178);
  color: white;
}

.name {
  margin-top: 100px;
  color: rgb(246, 234, 234);
  letter-spacing: 3px;
  filter: brightness(1.1);
}

.number {
  color: rgb(246, 234, 234);
  margin-top: 10px;
  filter: brightness(1);
}

.button {
  display: flex;
  gap: 9px;
  margin-top: 15px;
  margin-bottom: 15px;
}

button.button1,
button.button2 {
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: center;
  gap: 2px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.button1 span::first-letter,
.button2 span::first-letter {
  text-transform: uppercase;
}
button.button1 .icon {
  color: black;
  font-size: 22px;
}

.name::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  div.characters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 120px;
  }
}

@media screen and (max-width: 860px) {
  div.characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 120px;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px 20px;
  }
  div.search-bar {
    display: block;
    height: 60px;
    margin-bottom: 90px;
  }

  div.characters {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: -10px;
  }

  div.search-button button {
    margin-top: 40px;
    width: 100%;
  }
}
